.flight-ticket-wrap {
  position: relative;
  width: 80;
  height: 100%;
  display: flex;
}

.flight-ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  min-width: 900px;

  min-height: 400px;
  max-height: 400px;

  margin: 0 auto;
  background-image: url(../images/Group\ 168.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.ticket-info > span:first-child {
  font-family: Goldman;
}

#back-to-list-btn {
  /* position: absolute;
  top: 3%;
  left: 3%; */
  margin-top: 25px;
  min-width: 50px;
  min-height: 50px;
  display: grid;
  place-items: center;
  background-image: url(../images/chevron-with-circle-right.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#launch-year-ticket {
  position: absolute;
  right: 6%;
  top: 18%;
  color: #193247;
}

#launch-year-ticket > span:nth-child(2) {
  font-size: 30px;
  font-weight: 300;
}

#mission-name-ticket {
  position: absolute;
  top: 28%;
  left: 14%;
  width: 600px;
  color: #f4ddb5;
}

#name-big {
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

#rocket-name-ticket {
  position: absolute;
  left: 14%;
  margin-top: 20px;
  color: #f4ddb5;
}

#rocket-type-ticket {
  margin-top: 20px;
  transform: translateX(-50px);
  color: #f4ddb5;
}
