.mission-item {
  /* border: blue solid 1px; */
  display: grid;
  grid-template-columns: 40% 29% 15% 14%;
  gap: 4px;
  margin-top: 4px;
  font-family: "Roboto";
}

.mission-item > p {
  display: grid;
  place-items: center;
  height: 60px;
  align-content: center;
  border-radius: 14px;
  background-color: #fdf2dd;
}
