.mission-item {
  /* border: blue solid 1px; */
  display: grid;
  grid-template-columns: 40% 29% 15% 14%;
  gap: 4px;
  margin-top: 4px;

  font-family: "Roboto";
}

.mission-item > p {
  display: grid;
  place-items: center;
  height: 60px;
  align-content: center;
  border-radius: 14px;
  background-color: #fdf2dd;
  cursor: pointer;
}

.mission-item:hover > p {
  background-color: #d14b39;
}

.paginate-btn {
  margin: 20px;
  padding: 5px 10px;
  color: #f4ddb5;
  background-color: #d14b39;
  border: none;
  border-radius: 44px;
  cursor: pointer;
}
