.mission-list-wrap {
  position: relative;
  height: 80%;
  align-self: flex-end;
  width: 75%;
  overflow: auto;
}

.mission-list-head {
  width: 100%;
  /* position: fixed; */
  display: grid;
  grid-template-columns: 40% 30% 17% 14%;
  border-bottom: #193247 solid 1px;
  background: #f4ddb5;
}

.mission-list-head > span {
  padding: 1% 3%;
  /* font-family: Goldman; */
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #193247;
}

.mission-list {
  height: 100%;
  overflow: auto;
}
