/* .search-list-wrap {
  border: red solid 1px;
  position: absolute;
  right: 0;
  width: 75%;
  overflow: auto;
} */

#header {
  position: relative;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 75%;
  max-height: 17%;
  min-height: 17%;
  padding-bottom: 3%;
}

#title {
  height: 90%;
  width: 40%;
  background-image: url("../images/Group\ 206.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#search {
  display: grid;
  grid-template-columns: 72% auto;
  gap: 1%;
  width: 57%;
}

#search > input {
  border: none;
  color: #f4ddb5;
  padding: 2% 5%;
  padding-left: 30px;
  border-radius: 44px;
  background-color: #193247;
  background-image: url("../images/rocket.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  background-position-x: 1%;
}

#search > button {
  background-color: #d14b39;
  border: none;
  border-radius: 44px;
  cursor: pointer;
  color: #f4ddb5;
}

input:focus {
  outline: none;
}
